.mobile {

    display: block;
    justify-content: center;
    /* margin-top: 15em; */
    /* gap: 0.5em; */
    width: 90%;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    margin:  10em auto ;
    /* align-items: center; */
    /* margin-left: 16em */
}
.info
{
    color:grey;
    

}
.infoButton
{
    border-radius: 10em;

}
@media (max-width: 767px) {


    .mobile {
        /* margin-top:10em auto; */

        /* margin-left: 1em; */
        width: 80%;
    }

table,
th,
td {
    border: 1px solid black;
}


}

 .centered-div {
     width: 200px;
     /* Set the width of the div */
     height: 200px;
     /* Set the height of the div */
     background-color: #e0e0e0;
     /* Add a background color for visibility */
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }